 
  .r-header {
    text-align: center;
    background-color: $color-5;
    padding: 5px;
  }
  
  .r-h1, .r-h2 {
    color: $color-6;
  }
  
  .r-main {
    padding: 20px;
  }
  
  .r-testimonials, .r-partnerships, .r-success-stories {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .r-customers, .r-partners {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .r-testimonial, .r-partner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid cyan;
    border-radius: 10px;
  
    img {
      border-radius: 20px;
      width: 150px;
      height: auto;
      object-fit: cover;
      margin-right: 20px;
    }
  
    .r-text {
      display: flex;
      flex-direction: column;
  
      blockquote {
        font-style: italic;
        margin-bottom: 10px;
      }
  
      .r-rating {
        font-size: 1.2em;
        color: gold;
      }
    }
  }
  
  // Partnerships images
  .r-partners img {
    width: 150px;
    height: auto;
  }
  
  .r-success-stories .r-story {
    text-align: center;
  }
  
  .r-story img {
    width: 140px;
    margin-bottom: 10px;
  }
  
  // Media queries for larger screens
  @include desktop() {
    .r-customers {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .r-testimonial {
        flex-basis: calc(50% - 40px); // Two testimonials side by side
      }
  
      .r-testimonial:nth-child(3) {
        flex-basis: 100%; // Third testimonial full-width below
      }
    }
  
    .r-partners {
      flex-direction: row;
  
      .r-partner {
        flex-basis: calc(50% - 10px); // Two partnerships side by side
      }
    }
  }
  
