$color-1: #ffafccff;
$color-2: #ffc8ddff;
$color-3: #a2d2ffff;
$color-3-dark: #58aeff;
$color-4: #bde0fe;
$color-4-light: #ddefff;
$color-5: #e6f7f5;
$color-5-light: #fde4cb;
$color-6: #005b5e;


$white:#fafafa;
$gray:#bebebe;
$gray-dark:#7c7c7c;

$color-footer: $color-1;
$color-header: $color-1;
$header-bg-color:rgba(255, 255, 255, 0.2);
//Sizes
$small: 15px;
$medium: 18px;
$large:25px;
$max-width: 500px;
$min-width: 250px;
$nav-height: 100px;