@import "./Partials/header.scss";
@import "./Partials/main.scss";
@import "./Partials/footer.scss";

@import "./Partials/variables.scss";
@import "./Partials/mixin.scss";
@import "./Partials/media-query.scss";
html, body{
    margin: 0px;
    min-height: 100vh;
}

main{
    min-height: 100vh;
}
