* {
  padding: 0;
}

body {
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.main-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 2;
}
.main-header nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.main-header nav ul {
  width: auto;
}

.showontop {
  width: 200px;
}
.showontop img {
  width: 100%;
}

.cart {
  right: 4vw;
}

/* hamburger tag */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 500px;
  width: 150px;
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /*blur the background*/
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar.show {
  left: 0;
}
.sidebar a {
  width: 100%;
}
.sidebar a:hover {
  background-color: #a2d2ff;
}
.sidebar li {
  width: 100%;
}

.hideOnMobile {
  display: none;
}

.menu-button {
  display: block;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
nav ul li img {
  width: 150px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 0; /* Remove rounding if applied */
}
nav li {
  height: 100px;
  padding-right: 20px;
  padding-bottom: 5px;
}
nav li:first-child {
  margin-right: auto;
}
nav a {
  height: 100%;
  margin-left: 10px;
  padding: 10px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: #a2d2ff;
}

@media (width > 998px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  .hideOnMobile {
    display: block;
  }
  .menu-button {
    display: none;
  }
}
main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
main #to-top {
  position: sticky;
  bottom: 10px;
  left: 90%;
  color: #000;
  text-decoration: none;
  z-index: 2;
  background-color: #d0d0d0;
  border-radius: 50%;
  font-size: 50px;
  margin: 20px;
}
main article.about-card header {
  width: 100%;
}
main article.about-card p {
  text-align: start;
  width: 100%;
  margin: 0.3rem;
}
main article.about-card h3 {
  width: auto;
}
main section.hero {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#fff 50%, #a2d2ff, #ffafcc);
  background-repeat: no-repeat;
  margin: 0px;
  border-bottom: 2px solid #000;
}
@media (width > 998px) {
  main section.hero {
    background-image: linear-gradient(transparent 80%, #ffafcc, #a2d2ff), url("/Images/hero imagewith text.png");
    background-size: 100% 100%;
  }
  main section.hero.forest-hero {
    background-image: linear-gradient(transparent 50%, #ffafcc, #a2d2ff), url("/Images/forest.png");
  }
}
main section.hero article {
  background-color: #ddefff;
}
main section.hero article > div > div {
  background-color: #fff;
}
main section.hero > header:first-child {
  margin: 50px 0px 0px 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.768627451);
  border: 4px solid rgba(162, 210, 255, 0.729);
  border-left: 0px;
  border-right: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
main section.hero > header:first-child h1,
main section.hero > header:first-child h2 {
  text-align: center;
  margin: 5px;
  border: none;
}
main section.hero > header:first-child h2 {
  color: #0858a3;
  font-size: 1.5rem;
}
main section.hero > header:first-child h1 {
  font-size: 2rem;
}
main section.hero > header.title {
  z-index: 1;
  position: absolute;
  top: 20%;
}
main section:not(section.hero) {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
main section.products-header {
  width: 100%;
  background-color: #e6f7f5;
  color: #005b5e;
  padding: 0px !important;
}
main section.products-header h1 {
  margin-bottom: 0px;
}
main section.products-header .top-field {
  width: 100%;
  border-bottom: 1px solid #000;
}
main section.products-header .top-field input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 20px;
  width: 20px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(45deg);
  transition: 0.2s;
  margin: 5px 10px 0px 10px;
}
main section.products-header .top-field input[type=checkbox]:checked {
  transform: rotate(225deg);
  transition: 0.2s;
}
main section.products-header .top-field input[type=checkbox]:checked ~ .product-row {
  display: none;
}
main section.products-header .top-field .product-row {
  width: 100%;
  max-width: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
main section.products-header .top-field .product-row > a {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}
main section.products-header .top-field .product-row > a:hover {
  transition: 0.2s;
  background-color: #fde4cb;
}
main section.products-header .top-field .product-row > a:active {
  transform: scale(0.93);
  box-shadow: inset 2px 2px #fff, inset -2px -2px #fff;
}
@media (width > 998px) {
  main section.products-header .top-field #toggle {
    display: none;
  }
  main section.products-header .top-field > .product-row {
    display: flex !important;
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: center;
    align-items: center;
  }
  main section.products-header .top-field > .product-row a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px;
  }
}
main .product-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  width: 100%;
}
main .product-row > article {
  max-width: 150px;
  margin: 10px;
  border: 1px solid #000;
}
main .product-row > article figure {
  border-bottom: 1px solid #000;
}
main .product-row > article header {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
main .product-row > article header h3 {
  margin: 2px 0px;
  text-align: start;
}
main .product-row > article footer {
  margin-top: 15px;
}
main .product-row > article footer a {
  align-self: center;
}
main .product-row > article div {
  border-radius: 0px;
}
main .product-row > article div > div {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
main .product-row > article div > p {
  height: 130px;
  text-align: start;
  overflow: hidden;
}
main .product-row > article footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
main .product-row > article footer > p {
  text-align: start;
  margin: 0px 0px 5px 0px;
}
main .product-row > article:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
main .section-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
main .section-wrapper article {
  justify-content: space-between;
}
main .section-wrapper article > div {
  padding: 0px;
  margin: 0px;
}
main .section-wrapper article figure {
  max-height: 330px;
}
main .section-wrapper article .body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  padding: 10px;
  margin: 20px;
}
main .section-wrapper article .content {
  background-color: #efefef;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
}
main .section-wrapper article .footer {
  box-sizing: border-box;
  background-color: transparent;
  padding: 20px;
  margin: 0px;
  width: 100%;
}
main .btn {
  border: 2px solid #58aeff;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  background-color: #a2d2ff;
  border-radius: 3px;
  transition: 0.1s;
  color: #000;
  text-align: center;
}
main .btn:hover {
  background-color: #bde0fe;
  cursor: pointer;
  transition: 0.1s;
}
main .btn:active {
  transform: scale(0.93);
  box-shadow: inset 2px 2px #fff, inset -2px -2px #fff;
  background-color: #ddefff;
  text-decoration: none;
  color: #000;
}
main .with-undertitle {
  border: none;
  margin: 0px;
}
main .with-undertitle + h4 {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  color: #434343;
  border-bottom: 3px solid #ffafcc;
}
main .loading {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
}
main .loading img {
  width: 100%;
  animation: 1s spin infinite linear;
}
main figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 290px;
  min-width: 250px;
  margin: 0px;
  overflow: hidden;
}
main figure > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px #929292;
  border: 1px solid #000;
  margin: 1rem;
  background-color: #fafafa;
  max-width: 500px;
  min-width: 250px;
}
main article aside {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc8dd;
  border-radius: 15px;
  border: 3px solid #ffafcc;
  width: 100%;
}
main article aside h4 {
  text-align: start;
  width: 100%;
  margin: 0.3rem;
  text-decoration: underline;
  font-size: 18px;
  color: #d30a53;
}
main article > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}
main article > div > div {
  background-color: #efefef;
  border-radius: 15px;
  margin: 0.8rem 0px;
  padding: 1rem;
}
main article > div p {
  font-size: 18px;
  text-align: center;
  overflow-wrap: anywhere;
}
main article footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: transparent;
  margin-top: 0px;
}
main article footer a {
  width: 100%;
}
main aside {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
main h2 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #a2d2ff;
  margin: 1rem;
}
main h3 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #ffafcc;
  margin: 0.8rem;
}
main .contactpage-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}
@media (width > 998px) {
  main .contactpage-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
  }
}
main .contactpage-wrapper .we-are-here-info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 3px 3px #929292;
  border: 1px solid #000;
  padding: 1rem;
  background-color: #fafafa;
  width: 80%;
  max-width: 300px;
  margin-bottom: 50px;
}
@media (width > 998px) {
  main .contactpage-wrapper .we-are-here-info {
    width: 50%;
    max-width: 40%;
    height: 700px;
  }
}
main .contactpage-wrapper .we-are-here-info img {
  width: 80%;
  max-width: 450px;
}
main .contactpage-wrapper .we-are-here-info hr {
  margin: 25px 0 5px 0;
  width: 80%;
  height: 1px;
  color: #7e7e7e;
  background: #7e7e7e;
  font-size: 0;
  border: 0;
}
main .contactpage-wrapper .we-are-here-info .address-box {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
main .contactpage-wrapper .we-are-here-info .address-box .visit-address,
main .contactpage-wrapper .we-are-here-info .address-box .call-us {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
main .contactpage-wrapper .we-are-here-info .address-box .call-us {
  align-self: flex-start;
}
main .contactpage-wrapper form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 3px 3px #929292;
  border: 1px solid #000;
  padding: 1rem;
  background-color: #fafafa;
  width: 80%;
  max-width: 300px;
  margin-bottom: 50px;
}
@media (width > 998px) {
  main .contactpage-wrapper form {
    width: 50%;
    max-width: 40%;
    height: 700px;
  }
}
main .contactpage-wrapper form input,
main .contactpage-wrapper form textarea {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid black;
  text-indent: 10px;
  height: 30px;
}
main .contactpage-wrapper form select {
  width: 60%;
}
main .contactpage-wrapper form .first-last-name,
main .contactpage-wrapper form .petname-email,
main .contactpage-wrapper form .subject,
main .contactpage-wrapper form .explain-matter {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .contactpage-wrapper form .first-name,
main .contactpage-wrapper form .last-name,
main .contactpage-wrapper form .pet-name,
main .contactpage-wrapper form .email {
  width: 100%;
  margin-bottom: 10px;
}
main .contactpage-wrapper form .subject,
main .contactpage-wrapper form .explain-matter {
  width: 100%;
  margin-bottom: 20px;
}
main .contactpage-wrapper form .explain-matter textarea {
  margin-top: 5px;
  width: 100%;
  height: 60px;
  resize: vertical;
}
main .contactpage-wrapper form .subject {
  margin-top: 15px;
}
main .contactpage-wrapper form .subject select {
  margin-top: 5px;
  width: 100%;
}
main .contactpage-wrapper form .buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (width > 998px) {
  main .contactpage-wrapper form .buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  }
}
main .contactpage-wrapper form .buttons .btn:first-child {
  margin-bottom: 10px;
  width: 70%;
  background-color: #58aeff;
}
@media (width > 998px) {
  main .contactpage-wrapper form .buttons .btn:first-child {
    margin-bottom: 0;
    margin-right: 50px;
    width: 40%;
  }
}
main .contactpage-wrapper form .buttons .btn:last-child {
  width: 70%;
  background-color: rgb(206, 230, 252);
}
@media (width > 998px) {
  main .contactpage-wrapper form .buttons .btn:last-child {
    width: 40%;
  }
}
main .btn {
  border: 2px solid #58aeff;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  background-color: #a2d2ff;
  border-radius: 3px;
  transition: 0.1s;
  color: #000;
  text-align: center;
}
main .btn:hover {
  background-color: #bde0fe;
  cursor: pointer;
  transition: 0.1s;
}
main .btn:active {
  transform: scale(0.93);
  box-shadow: inset 2px 2px #fff, inset -2px -2px #fff;
  background-color: #ddefff;
  text-decoration: none;
  color: #000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  height: 200px;
  /* height: auto; */
  width: 100%;
  background-color: #ffafcc;
  margin-top: 30px;
}
footer .footer-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
footer .footer-wrapper .footer-upper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
footer .footer-wrapper .footer-upper .footer-address {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-wrapper .footer-upper .footer-address .center-me {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-address .center-me {
    margin-left: 30px;
  }
}
footer .footer-wrapper .footer-upper .footer-address h3 {
  font-size: 0.7rem;
  margin: 0 0 8px 0;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-address h3 {
    font-size: 1.3rem;
  }
}
footer .footer-wrapper .footer-upper .footer-address p {
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-address p {
    font-size: 1.3rem;
  }
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-address {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    height: 100%;
  }
}
footer .footer-wrapper .footer-upper .footer-logotype {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}
footer .footer-wrapper .footer-upper .footer-logotype img {
  width: 60%;
  max-width: 180px;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-logotype {
    width: 33%;
  }
  footer .footer-wrapper .footer-upper .footer-logotype img {
    width: 40%;
  }
}
footer .footer-wrapper .footer-upper .footer-links {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-links {
    justify-content: flex-end;
    width: 33%;
  }
}
footer .footer-wrapper .footer-upper .footer-links ul {
  text-align: right;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-links ul {
    display: flex;
  }
}
footer .footer-wrapper .footer-upper .footer-links ul li {
  margin-right: 15px;
  display: inline;
  white-space: nowrap;
  list-style: none;
  margin-bottom: 8px;
  font-size: 0.9rem;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-upper .footer-links ul li {
    font-size: 1.3rem;
    display: inline;
    margin-right: 10px;
  }
}
footer .footer-wrapper .footer-upper .footer-links ul li a {
  text-decoration: none;
  color: black;
}
footer .footer-wrapper .footer-upper .footer-links ul li a:hover {
  text-decoration: underline;
}
footer .footer-wrapper .footer-bottom {
  width: 100%;
  height: auto;
  text-align: center;
}
footer .footer-wrapper .footer-bottom hr {
  width: 90%;
  height: 1px;
  color: #7e7e7e;
  background: #7e7e7e;
  font-size: 0;
  border: 0;
}
@media (width > 998px) {
  footer .footer-wrapper .footer-bottom hr {
    display: none;
  }
}
footer .footer-wrapper .footer-bottom p {
  font-size: 0.75rem;
  font-style: italic;
  margin: 15px 0 10px 0;
}

.r-header {
  text-align: center;
  background-color: #e6f7f5;
  padding: 5px;
}

.r-h1, .r-h2 {
  color: #005b5e;
}

.r-main {
  padding: 20px;
}

.r-testimonials, .r-partnerships, .r-success-stories {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.r-customers, .r-partners {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.r-testimonial, .r-partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid cyan;
  border-radius: 10px;
}
.r-testimonial img, .r-partner img {
  border-radius: 20px;
  width: 150px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
.r-testimonial .r-text, .r-partner .r-text {
  display: flex;
  flex-direction: column;
}
.r-testimonial .r-text blockquote, .r-partner .r-text blockquote {
  font-style: italic;
  margin-bottom: 10px;
}
.r-testimonial .r-text .r-rating, .r-partner .r-text .r-rating {
  font-size: 1.2em;
  color: gold;
}

.r-partners img {
  width: 150px;
  height: auto;
}

.r-success-stories .r-story {
  text-align: center;
}

.r-story img {
  width: 140px;
  margin-bottom: 10px;
}

@media (width > 998px) {
  .r-customers {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .r-customers .r-testimonial {
    flex-basis: calc(50% - 40px);
  }
  .r-customers .r-testimonial:nth-child(3) {
    flex-basis: 100%;
  }
  .r-partners {
    flex-direction: row;
  }
  .r-partners .r-partner {
    flex-basis: calc(50% - 10px);
  }
}
html, body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Use 600 or 700 based on your choice */
  cursor: default;
}

p, a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Open Sans";
  font-weight: 400;
  cursor: default;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */