@import "./Partials/variables.scss";
@import "./Partials/mixin.scss";
@import "./Partials/media-query.scss";

@import "./Partials/header.scss";
@import "./Partials/main.scss";
@import "./Partials/footer.scss";
@import "./Partials/references";

html, body{
    margin: 0px;
    min-height: 100vh;
    
}

body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 34px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 22px;
}

h4{
    font-size: 16px;
}