@import "./Partials/variables.scss";
@import "./Partials/mixin.scss";
@import "./Partials/media-query.scss";

@import "./Partials/header.scss";
@import "./Partials/main.scss";
@import "./Partials/footer.scss";
@import "./Partials/references.scss";

html, body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Use 600 or 700 based on your choice */
    cursor: default;
  }
  
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Open Sans';
    font-weight: 400;
    cursor: default;
  }
h1{
    font-size: 34px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 22px;
}

h4{
    font-size: 16px;
}